{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Manage Mentee
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Mentee Details</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>User Name</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th>Gender</th>
                      <th>Platforms</th>
                      <th>Last Login</th>
                      <th>Date Joined</th>
                      </tr>
                    <tr>
                      <td>00001</td>
                      <td>Varun</td>
                      <td>Vashisht</td>
                      <td>varunvashisht</td>
                      <td>varunvashisht@gmail.com</td>
                      <td>Sec-10A Gurgaon</td>
                      <td>Male</td>
                      <td>CodeChef, HackerRank, Codeforces, LeetCode</td> 
                      <td>Last Login</td>
                      <td>Date Joined</td>
                    
                    </tr>
                    <tr>
                      <td>00002</td>
                      <td>Valera</td>
                      <td>Shirberg</td>
                      <td>valerashirberg</td>
                      <td>valera.Shirberg@gmail.com</td>
                      <td>Sec-49 Gurgaon</td>
                      <td>Female</td>
                      <td>CodeChef, HackerRank, Codeforces, LeetCode</td> 
                      <td>Last Login</td>
                      <td>Date Joined</td>
                    
                    </tr>
                    <tr>
                      <td>00003</td>
                      <td>Sprage</td>
                      <td>Lelah</td>
                      <td>lelahsprage</td>
                      <td>Lelah.Sprage@gmail.com</td>
                      <td>Worldmark Gurgaon</td>
                      <td>Male</td>
                      <td>CodeChef, HackerRank, Codeforces, LeetCode</td> 
                      <td>Last Login</td>
                      <td>Date Joined</td>
                    
                    </tr><tr>
                      <td>00004</td>
                      <td>Faria</td>
                      <td>Minne</td>
                      <td>minnefaria09</td>
                      <td>Minne.Nea@gmail.com</td>
                      <td>Odugoudar Residence, Hulkoti</td>
                      <td>Male</td>
                      <td>CodeChef, HackerRank, Codeforces, LeetCode</td> 
                      <td>Last Login</td>
                      <td>Date Joined</td>
                    
                    </tr><tr>
                      <td>00005</td>
                      <td>Deane</td>
                      <td>Toni</td>
                      <td>Deane97</td>
                      <td>Toni.deane@gmail.com</td>
                      <td>21, Arindamland</td>
                      <td>Male</td>
                      <td>CodeChef, HackerRank, Codeforces, LeetCode</td> 
                      <td>Last Login</td>
                      <td>Date Joined</td>
                    
                    </tr><tr>
                      <td>00006</td>
                      <td>Sabina</td>
                      <td>Bow</td>
                      <td>sabina.bow</td>
                      <td>sabina.bow@gmail.com</td>
                      <td>Airial Appartments</td>
                      <td>Female</td>
                      <td>CodeChef, HackerRank, Codeforces, LeetCode</td> 
                      <td>Last Login</td>
                      <td>Date Joined</td>
                    
                    </tr><tr>
                      <td>00007</td>
                      <td>Philipp</td>
                      <td>Georgetta</td>
                      <td>PhilippGeorgetta</td>
                      <td>philippgeorgetta@gmail.com</td>
                      <td>JMD Bangalore</td>
                      <td>Male</td>
                      <td>CodeChef, HackerRank, Codeforces, LeetCode</td> 
                      <td>Last Login</td>
                      <td>Date Joined</td>
                    
                    </tr>
                  </thead>
                  <tbody>
                  {% for student in students %}
                    <tr>
                      <td>{{ student.admin.id }}</td>
                      <td>{{ student.admin.first_name }}</td>
                      <td>{{ student.admin.last_name }}</td>
                      <td>{{ student.admin.username }}</td>
                      <td>{{ student.admin.email }}</td>
                      <td>{{ student.address }}</td>
                      <td>{{ student.gender }}</td>
                      <td><img src="{{ student.profile_pic }}" style="width:100px"/></td>
                      <td>{{ student.course_id.course_name }}</td>
                      <td>{{ student.admin.last_login }}</td>
                      <td>{{ student.admin.date_joined }}</td>
                      <td><a href="{% url 'edit_student' student_id=student.admin.id %}" class="btn btn-success">Edit</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

